In [2]:
# Import libraries
import pandas as pd
from matplotlib import pyplot as plt

## QUESTION 01

In [24]:
#Has TV viewership increased over time? Save your answer as a boolean variable named viewership_increased
tv = pd.read_csv("datasets/tv.csv")
tv =tv.sort_values(by='super_bowl')

In [25]:

# Compare first and last average viewers
first = tv['avg_us_viewers'].iloc[0]
last = tv['avg_us_viewers'].iloc[-1]
print("Viewership increased:", first)
print("Viewership increased:", last)

viewership_increased = last > first
print("Viewership increased:", viewership_increased)

Viewership increased: 26750000
Viewership increased: 103390000
Viewership increased: True

## QUESTION 02

In [38]:
#How many matches finished with a point difference greater than 40? Save your answer as an integer named difference.
super_bowls = pd.read_csv("datasets/super_bowls.csv")
super_bowls.head() 
difference = (super_bowls['difference_pts'] > 40).sum()
print(difference)

1

## QUESTION 03

In [39]:
#Who performed the most songs in Super Bowl halftime shows? Save your answer as a string named most_songs.
halftime_musicians = pd.read_csv("datasets/halftime_musicians.csv")
halftime_musicians.head()

   super_bowl                               musician  num_songs
0          52                      Justin Timberlake       11.0
1          52  University of Minnesota Marching Band        1.0
2          51                              Lady Gaga        7.0
3          50                               Coldplay        6.0
4          50                                Beyoncé        3.0

In [40]:
# Find the musician with the highest number of songs
most_row = halftime_musicians.loc[halftime_musicians['num_songs'].idxmax()]
most_songs = most_row['musician']

print("Musician with the most songs:", most_songs)

Musician with the most songs: Justin Timberlake